@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
.sidebar::-webkit-scrollbar {
  width: 3px; 
}
.sidebar::-webkit-scrollbar-button {
  display: none;
}
.sidebar::-webkit-scrollbar-track {
  background: #ffffff; 
}

.sidebar::-webkit-scrollbar-thumb {
  background-color: rgb(21 26 31 / 15%); 
  border-radius: 10px; 
  border: 2px solid #ffffff; 
}

.sidebar {
  scrollbar-width: thin; 
  scrollbar-color: #e2e8f0 #ffffff; 
}
.x-sidebar::-webkit-scrollbar{
  height: 2px;
}
.swiper-button-storie-prev,
.swiper-button-storie-next{
  top: 40% !important;
}
.swiper-button-disabled{
  display: none;
}
.swiper-button-storie-prev{
  left: -10px;
}
.swiper-button-storie-next{
  right: -10px;
}
#swal2-title{
  display: flex !important;
  justify-content: center;
}